# ----------- site config

SITE_CONFIG_OPENING_AT = ""
SITE_CONFIG_CLOSING_AT = ""
SITE_CONFIG_MIN_DURATION = 
SITE_CONFIG_SUPPORT_EMAIL = ""
SITE_CONFIG_PHONE_NUMBER = ""
SITE_CONFIG_TIMEZONE = "America/New_York"
SITE_CONFIG_COUNTRY = "US"

# ----------- data sources

# db
DATABASE_URL = ""
DATABASE_RECONNECTION_DELAY = 10000 # ms

# cloudflare
CLOUDFLARE_API_TOKEN = ""
CLOUDFLARE_ACCOUNT_ID = ""

# ----------- api

# server
BACKEND_ORIGIN = ""
BASE_URL = ""
NODE_ENV = ""
WINDOW_DURATION =  # milliseconds
PER_WINDOW_LIMIT = 
PER_PAGE_LIMIT = 
LOG_PATH = ""
LOG_LEVEL = ""
AUTHENTICATION =  # must be true in production
RATE_LIMITER =  # must be true in production

# auth
RT_CREATE_SECRET = ""
API_SECRET = ""
REFRESH_TOKEN_EXPIRATION_DELAY =  # seconds ( 1 Week )
ACCESS_TOKEN_EXPIRATION_DELAY =  # seconds

# resources
MAX_APPOINTMENTS_SERCH_BY_DATE_RANGE =  # seconds ( +- 1 Month )

# users
USER_ID_LENGTH = 

# admin panel
ADMIN_PANEL_KEY_REFRESH_DELAY =  # ms ( 5 hours )